In [17]:
import pandas as pd

import numpy as np

In [157]:
poke = pd.read_csv('datasets/pokemon.csv')

In [158]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [159]:
poke.columns = [e.replace(' ', '_').replace('.', '').lower() for e in poke.columns]

poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [160]:
poke.type_1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [161]:
poke.type_2.unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [162]:
poke.type_1.unique().tolist()

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [163]:
list(poke.type_1.unique())

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [164]:
list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist()))

[nan,
 'Rock',
 'Fighting',
 'Ghost',
 'Dragon',
 'Dark',
 'Fire',
 'Bug',
 'Electric',
 'Poison',
 'Normal',
 'Ice',
 'Steel',
 'Psychic',
 'Ground',
 'Water',
 'Fairy',
 'Flying',
 'Grass']

In [165]:
np.array(list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist())))

array(['nan', 'Rock', 'Fighting', 'Ghost', 'Dragon', 'Dark', 'Fire',
       'Bug', 'Electric', 'Poison', 'Normal', 'Ice', 'Steel', 'Psychic',
       'Ground', 'Water', 'Fairy', 'Flying', 'Grass'], dtype='<U32')

In [166]:
unicos = list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist()))

In [167]:
len(unicos)

19

In [168]:
[e for e in poke.name.unique() if 'Mega' in e]

['VenusaurMega Venusaur',
 'CharizardMega Charizard X',
 'CharizardMega Charizard Y',
 'BlastoiseMega Blastoise',
 'BeedrillMega Beedrill',
 'PidgeotMega Pidgeot',
 'AlakazamMega Alakazam',
 'SlowbroMega Slowbro',
 'GengarMega Gengar',
 'KangaskhanMega Kangaskhan',
 'PinsirMega Pinsir',
 'GyaradosMega Gyarados',
 'AerodactylMega Aerodactyl',
 'MewtwoMega Mewtwo X',
 'MewtwoMega Mewtwo Y',
 'Meganium',
 'AmpharosMega Ampharos',
 'SteelixMega Steelix',
 'ScizorMega Scizor',
 'HeracrossMega Heracross',
 'HoundoomMega Houndoom',
 'TyranitarMega Tyranitar',
 'SceptileMega Sceptile',
 'BlazikenMega Blaziken',
 'SwampertMega Swampert',
 'GardevoirMega Gardevoir',
 'SableyeMega Sableye',
 'MawileMega Mawile',
 'AggronMega Aggron',
 'MedichamMega Medicham',
 'ManectricMega Manectric',
 'SharpedoMega Sharpedo',
 'CameruptMega Camerupt',
 'AltariaMega Altaria',
 'BanetteMega Banette',
 'AbsolMega Absol',
 'GlalieMega Glalie',
 'SalamenceMega Salamence',
 'MetagrossMega Metagross',
 'LatiasMega Latias',
 'LatiosMega Latios',
 'RayquazaMega Rayquaza',
 'LopunnyMega Lopunny',
 'GarchompMega Garchomp',
 'LucarioMega Lucario',
 'AbomasnowMega Abomasnow',
 'GalladeMega Gallade',
 'AudinoMega Audino',
 'DiancieMega Diancie']

In [169]:
def cambiar_nombre(s):
    
    if 'Mega ' in s:
        
        s = s.split('Mega ')[1]
        
        s = 'Mega ' + s
        
        return s
    
    else:
        
        return s

In [170]:
[e for e in poke.name.apply(cambiar_nombre).unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [171]:
poke.name = poke.name.apply(cambiar_nombre)

In [172]:
[e for e in poke.name.unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [173]:
import re

In [174]:
re.sub('\w+Mega', 'Mega', 'TyrMega Tyranitar')

'Mega Tyranitar'

In [175]:
[e for e in poke.name.unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [176]:
poke.name = poke.name.apply(lambda s: re.sub('\w+Mega', 'Mega', s))

In [177]:
[e for e in poke.name.unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [178]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [179]:
poke['A/D Ratio'] = poke.attack / poke.defense

In [180]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

In [181]:
poke.sort_values(by='A/D Ratio', ascending=False).head(1)

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [182]:
poke[poke['A/D Ratio']==poke['A/D Ratio'].max()]

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [183]:
poke.sort_values(by='A/D Ratio').head(1)

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

In [184]:
poke[poke['A/D Ratio']==poke['A/D Ratio'].min()]

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

In [185]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

In [188]:
type(poke.loc[4].type_2)

float

In [189]:
poke.type_2 = poke.type_2.apply(str)

In [190]:
type(poke.loc[4].type_2)

str

In [191]:
poke['Combo Type'] = poke.type_1 + '-' + poke.type_2

In [192]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan

In [193]:
poke['Combo Type'].apply(lambda s: s.replace('-nan', ''))

0       Grass-Poison
1       Grass-Poison
2       Grass-Poison
3       Grass-Poison
4               Fire
           ...
795       Rock-Fairy
796       Rock-Fairy
797    Psychic-Ghost
798     Psychic-Dark
799       Fire-Water
Name: Combo Type, Length: 800, dtype: object

In [194]:
poke['Combo Type'] = poke['Combo Type'].apply(lambda s: s.replace('-nan', ''))

In [195]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [155]:
poke['Combo Type'] = poke.type_1 + '-' + poke.type_2

In [156]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN

In [115]:
poke.tail()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire-Water

In [116]:
poke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   name        800 non-null    object
 2   type_1      800 non-null    object
 3   type_2      414 non-null    object
 4   total       800 non-null    int64
 5   hp          800 non-null    int64
 6   attack      800 non-null    int64
 7   defense     800 non-null    int64
 8   sp_atk      800 non-null    int64
 9   sp_def      800 non-null    int64
 10  speed       800 non-null    int64
 11  generation  800 non-null    int64
 12  legendary   800 non-null    bool
 13  A/D Ratio   800 non-null    float64
 14  Combo Type  414 non-null    object
dtypes: bool(1), float64(1), int64(9), object(4)
memory usage: 88.4+ KB

In [117]:
poke[poke.type_2.isna()].type_1

4        Fire
5        Fire
9       Water
10      Water
11      Water
        ...
775    Dragon
776    Dragon
788       Ice
789       Ice
792     Fairy
Name: type_1, Length: 386, dtype: object

In [118]:
poke[poke.type_2.isna()]['Combo Type']

4      NaN
5      NaN
9      NaN
10     NaN
11     NaN
      ...
775    NaN
776    NaN
788    NaN
789    NaN
792    NaN
Name: Combo Type, Length: 386, dtype: object

In [120]:
poke[poke.type_2.isna()].index

Int64Index([  4,   5,   9,  10,  11,  12,  13,  14,  24,  25,
            ...
            755, 762, 763, 770, 774, 775, 776, 788, 789, 792],
           dtype='int64', length=386)

In [121]:
poke[poke.type_2.isna()]['Combo Type'] = poke[poke.type_2.isna()].type_1

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_36241/3805299649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poke[poke.type_2.isna()]['Combo Type'] = poke[poke.type_2.isna()].type_1

In [122]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN

In [123]:
poke.loc[1, 'Combo Type']

'Grass-Poison'

In [124]:
poke.loc[poke[poke.type_2.isna()].index, 'Combo Type'] = poke[poke.type_2.isna()].type_1

In [125]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [196]:
poke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   name        800 non-null    object
 2   type_1      800 non-null    object
 3   type_2      800 non-null    object
 4   total       800 non-null    int64
 5   hp          800 non-null    int64
 6   attack      800 non-null    int64
 7   defense     800 non-null    int64
 8   sp_atk      800 non-null    int64
 9   sp_def      800 non-null    int64
 10  speed       800 non-null    int64
 11  generation  800 non-null    int64
 12  legendary   800 non-null    bool
 13  A/D Ratio   800 non-null    float64
 14  Combo Type  800 non-null    object
dtypes: bool(1), float64(1), int64(9), object(4)
memory usage: 88.4+ KB

In [197]:
poke.sort_values(by='A/D Ratio', ascending=False).head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,nan,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,nan,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [198]:
poke.sort_values(by='A/D Ratio', ascending=False).head()['Combo Type']

429       Psychic
347    Water-Dark
19     Bug-Poison
453          Rock
348    Water-Dark
Name: Combo Type, dtype: object

In [201]:
poke.sort_values(by='A/D Ratio', ascending=False).head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,nan,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,nan,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [204]:
poke.groupby('Combo Type').mean().head()

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_36241/2227662496.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  poke.groupby('Combo Type').mean().head()

,#,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.940179
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274

In [208]:
poke[['hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed']].T.sum()

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Length: 800, dtype: int64

In [206]:
poke.total

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: total, Length: 800, dtype: int64

In [210]:
(poke[['hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed']].T.sum() == poke.total).all()

True

In [212]:
poke[['hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed']].T.sum().sum()

348082

In [213]:
poke.total.sum()

348082

In [215]:
x = poke[['hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed']].T.sum() == poke.total

In [217]:
x.sum() == len(poke)

True

In [218]:
poke.sort_values(by='total', ascending=False).head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo Type
426,384,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,1.800000,Dragon-Flying
164,150,Mega Mewtwo Y,Psychic,nan,780,106,150,70,194,120,140,1,True,2.142857,Psychic
163,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,1.900000,Psychic-Fighting
422,382,KyogrePrimal Kyogre,Water,nan,770,100,150,90,180,160,90,3,True,1.666667,Water
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,1.125000,Ground-Fire

In [221]:
pd.get_dummies(poke[['type_1', 'type_2']]).head()

,type_1_Bug,type_1_Dark,type_1_Dragon,type_1_Electric,type_1_Fairy,type_1_Fighting,type_1_Fire,type_1_Flying,type_1_Ghost,type_1_Grass,...,type_2_Grass,type_2_Ground,type_2_Ice,type_2_Normal,type_2_Poison,type_2_Psychic,type_2_Rock,type_2_Steel,type_2_Water,type_2_nan
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [225]:
unicos[1:]

['Rock',
 'Fighting',
 'Ghost',
 'Dragon',
 'Dark',
 'Fire',
 'Bug',
 'Electric',
 'Poison',
 'Normal',
 'Ice',
 'Steel',
 'Psychic',
 'Ground',
 'Water',
 'Fairy',
 'Flying',
 'Grass']

In [224]:
pd.get_dummies(unicos[1:])

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
15,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [228]:
orders = pd.read_csv('datasets/Orders.csv')

In [229]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [230]:
orders.amount_spent

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
397919    10.20
397920    12.60
397921    16.60
397922    16.60
397923    14.85
Name: amount_spent, Length: 397924, dtype: float64